<html>
<head>
    <meta charset="UTF-8">
    <title>ELISA-IE</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/javascripts/elisa_ie/login.js"></script>

    <link href="/static/stylesheets/elisa_ie/login.css" rel="stylesheet" />
</head>
<body>

<div class="login-card">
    <form id="login">
        <h4>Please enter dev code</h4><br>
        <input type="password" id="dev_code" placeholder="Dev Code">
        <input type="submit" class="login login-submit" value="submit">
    </form>
</div>
<script>
    $('#dev_code').focus();
</script>
</body>
</html>